@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Raleway:wght@100;200;300;400&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
}

body {
    background-color: #0A77A6;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #114254;
}

.nav-logo {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
}

.nav-menu-button {
    display: none;
}

.nav-menu-button div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-top: 5px;
    transition: all 0.5s ease;
}

.home {}

.home h1 {
    font-size: 5rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.home p {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.blurb {
    text-align: center;
}

.about {}

.projects {}

footer {
    background-color: #114254;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: right;
    float: right;
    padding: 10px 30px;
}

@media screen and (max-width:700px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #114254;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-menu-button {
        display: block;
        cursor: pointer;
    }
}

.mobile-nav-active {
    transform: translateX(0%);
}

@keyframes navLinksTrans {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

.menu-clicked .top {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-clicked .mid {
    opacity: 0;
}

.menu-clicked .bot {
    transform: rotate(45deg) translate(-5px, -6px);
}