@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Raleway:wght@100;200;300;400&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
}

body {
    background-color: #0A77A6;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.spin-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #114254;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    animation: rotate infinite linear;
    width: 60px;
    height: 60px;
    border: 12px solid #FFFFFF;
    border-bottom: 12px solid #114254;
    border-radius: 50%;
    animation: spin .5s infinite linear;
    box-shadow: 0 0 2px #FFFFFF;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fade {
    animation: fade 0.9s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #114254;
    z-index: 1;
}

nav a:hover,
h3:hover {
    text-shadow: 0 0 1.5px #FFFFFF;
}

.nav-logo {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    cursor: pointer;
}

.nav-menu-button {
    display: none;
}

.nav-menu-button div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-top: 5px;
    transition: all 0.5s ease;
}

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/background.jpg") center/cover no-repeat;
    min-height: 100%;
    align-items: center;
    position: fixed;
    width: 100%;
}

.home h1 {
    font-size: 5rem;
    padding-top: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.home p {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.25rem;
}

.blurb {
    text-align: center;
    font-size: 1.25rem;
}

.icons {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.icons td {
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    position: absolute;
    visibility: hidden;
    width: 120px;
    background-color: #114254;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 1rem;
    width: 200px;
    top: 100%;
    left: -50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #114254 transparent;
}

.about {
    display: none;
    padding: 2.5%;
}

.projects {
    display: none;
    padding: 2.5%;
}

.projects h2 {
    padding-bottom: 3rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}

.project-card {
    text-align: center;
    padding-bottom: 20rem;
    background-color: #114254;
    border: 0.1rem solid #f2f2ce;
}

footer {
    background-color: #114254;
    padding-top: 1000;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: right;
    padding: 10px 30px;
}

@media screen and (max-width:769px) {
    html,
    body {
        overflow-x: hidden;
        height: 100%;
        position: relative;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 85vh;
        top: 8vh;
        background-color: #114254;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-menu-button {
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width:426px) {
    .nav-links {
        width: 50%;
    }
}

.mobile-nav-active {
    transform: translateX(0%);
}

@keyframes navLinksTrans {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

.menu-clicked .top {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-clicked .mid {
    opacity: 0;
}

.menu-clicked .bot {
    transform: rotate(45deg) translate(-5px, -6px);
}